<Configuration status="WARN">
    <Loggers>
        <Logger name="org.apache.ibatis" level="OFF" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.example.mapper" level="OFF" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>